<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/style/style.css" | relative_url }}">
    <script src="https://unpkg.com/mermaid@11.4.0/dist/mermaid.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            mermaid.initialize({
            startOnLoad:true,
            theme: "default",
            });
            window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
        });
    </script>
</head>