<script>
    window.onload = setNavLinkActive;
    const regex = /^\/(.*?)\//

    function setNavLinkActive() {
        var pathName = window.location.pathname.match(regex);
        var navLinks = document.querySelectorAll(`a[href='/${pathName != null ? pathName[1] : ''}']`);

        if (Array.isArray(navLinks))
        {
            navLinks[0].className += " active";
        }
    }
</script>

<nav class="navigation">
    <a class="clickable" aria-current="page" href="/"><strong>Home</strong></a>
    <a class="clickable" href="/blog"><strong>Blog</strong></a>
</nav>