@forward "container";
@forward "flex";
@forward "colors";
@forward "typography";
@forward "code";
@forward "grid";
@forward "take-one";
@forward "navigation";
@forward "pagination";
@forward "footer";
@forward "footnotes";
@forward "bar";

@use "colors";

html {
    scrollbar-width: none;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.clickable strong {
    text-decoration: underline;
}

.clickable:hover strong {
    color: colors.$hover-color;
}