---
layout: default
title: Blog
subtitle: Rambling and Rants
---

<div class="take-one">
    <div class="header">
        <h5><strong>BLOG POSTS</strong></h5>
    </div>
    <div class="body">
        {% for post in paginator.posts %}
        <a href="{{post.url}}" class="clickable">
            <p><strong>{{ post.title | escape }}</strong></p>
            <p class="font-monospace">{{ post.excerpt }}</p>
        </a>
        {%- endfor -%}
    </div>
</div>

<nav class="pagination">
    <ul>
        {% if paginator.previous_page %}
        <li>
            <a class="clickable" href="{{ paginator.previous_page_path }}"><strong>← Previous</strong></a>
        </li>
        {% endif %}
        <li class="no-interaction">
            <a class="page-link" href="">Page {{ paginator.page }} of {{ paginator.total_pages }}</a>
        </li>
        {% if paginator.next_page %}
        <li>
            <a class="clickable" href="{{ paginator.next_page_path }}"><strong>Next →</strong></a>
        </li>
        {% endif %}
    </ul>
</nav>