---
layout: default
title: Blog
subtitle: Rambling and Rants
---

<div class="container border border-space border-2 my-3">
    <div class="row bg-space text-center pt-1">
        <h5 class="text-eggshell"><strong>BLOG POSTS</strong></h5>
    </div>
    <div class="row">
        <div class="col border-space take-one">
            {% for post in paginator.posts %}
            <a href="{{post.url}}" class="row py-2 clickable bg-eggshell">
                <p><strong>{{ post.title | escape }}</strong></p>
                <span class="font-monospace">{{ post.excerpt }}</span>
            </a>
            {%- endfor -%}
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center border-space">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}">← Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="">Page {{ paginator.page }} of {{ paginator.total_pages }}</a>
        </li>
        {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}">Next →</a>
        </li>
        {% endif %}
    </ul>
</nav>